<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <!-- <div id="fe958047ef3c4d1587c9f6a2e7b916b9" class="chart-container" style="width:900px; height:500px;"></div>-->
    <div id="fe958047ef3c4d1587c9f6a2e7b916b9" class="chart-container" style="width:1600px; height:500px;"></div>
    <script>
        var chart_fe958047ef3c4d1587c9f6a2e7b916b9 = echarts.init(
            document.getElementById('fe958047ef3c4d1587c9f6a2e7b916b9'), 'white', {renderer: 'canvas'});
        var option_fe958047ef3c4d1587c9f6a2e7b916b9 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "blue",
        "green",
        "yellow",
        "red",
        "pink",
        "orange",
        "purple"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u4e0a\u5e02\u516c\u53f8",
                    "value": 34
                },
                {
                    "name": "\u4e8b\u4e1a\u5355\u4f4d",
                    "value": 1
                },
                {
                    "name": "\u521b\u4e1a\u516c\u53f8",
                    "value": 10
                },
                {
                    "name": "\u5408\u8d44",
                    "value": 39
                },
                {
                    "name": "\u56fd\u4f01",
                    "value": 8
                },
                {
                    "name": "\u5916\u4f01\u4ee3\u8868\u5904",
                    "value": 1
                },
                {
                    "name": "\u5916\u8d44\uff08\u6b27\u7f8e\uff09",
                    "value": 9
                },
                {
                    "name": "\u5916\u8d44\uff08\u975e\u6b27\u7f8e\uff09",
                    "value": 16
                },
                {
                    "name": "\u6c11\u8425\u516c\u53f8",
                    "value": 384
                },
                {
                    "name": "\u975e\u8425\u5229\u7ec4\u7ec7",
                    "value": 1
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}: {c}"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e0a\u5e02\u516c\u53f8",
                "\u4e8b\u4e1a\u5355\u4f4d",
                "\u521b\u4e1a\u516c\u53f8",
                "\u5408\u8d44",
                "\u56fd\u4f01",
                "\u5916\u4f01\u4ee3\u8868\u5904",
                "\u5916\u8d44\uff08\u6b27\u7f8e\uff09",
                "\u5916\u8d44\uff08\u975e\u6b27\u7f8e\uff09",
                "\u6c11\u8425\u516c\u53f8",
                "\u975e\u8425\u5229\u7ec4\u7ec7"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u6570\u636e\u5206\u6790\u5c97\u4f4d\u4e2d\u5404\u7c7b\u578b\u4f01\u4e1a\u6240\u5360\u6bd4\u5217",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_fe958047ef3c4d1587c9f6a2e7b916b9.setOption(option_fe958047ef3c4d1587c9f6a2e7b916b9);
    </script>
</body>
<a href="/">返回到主页</a>
</html>
